.TextAreaForm {
  width: 100%;
}
.TextAreaForm textarea {
  width: 100%;
  min-height: 504px;
  display: block;
  padding: 44px;
  box-sizing: border-box;
  background: transparent;
  color: #111;
  resize: none;
  font-size: 50px;
  border: 1px solid #ccc;
  border-top: none;
  outline: none;
}
